*{
  font-family: helvetica, sans-serif;
}

body {
  background-image: url(divaback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*div {
  border: 2px dotted yellow;
}*/

#gallery-container {
  width: 100%;
}

img {
  height: 250px;
  width: 430px;
  margin: 5px;
  border: 10px solid white;
}

.thumb {
    position: relative;
    margin: 10px;
    float: left
}
.text {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #999;
    background: rgba(0,0,0,0.3);
    text-align: center
}
.thumb:hover .text {
    display: block
}
