
*{
  font-family: helvetica, sans-serif;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


#header{
  display: block;
  margin: 0;

}
#header img{
height:100px;
  width: auto;
  opacity: 0.8;

}

#subnavbar{
display: block;
}

#subnavbar{
  margin-bottom: 0px;
}

#subnavbar li{
  display: inline-block;
  padding:40px 20px 0px 0px;

}

#subnavbar ul{
margin: 20px auto -35px 20px;

}
#subnavbar li a{
  text-align: center;
}
#content tr{
  padding: 20px ;

}

table {
  border-spacing: 50px;
}

#content tr td {
  margin: 10px;
  border: 3px solid silver;
}

#content img{
  margin: 5px 5px 5px 5px;
  height:140px;
  width: 200px;
}
#content p{
font-size: 12px;
text-align: center;

}
#more{
  width: 200px;
  height:50px;
  background-color: hotpink;
  color: white;
  /*border-radius: 25px;*/
  margin-left: 500px;
  box-shadow: 3px 3px deeppink;

}
#more p{
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  padding-top: 5px;
}
a {
  text-decoration: none;
}
